.todoInput{
  margin-right:10px;
  width:100%;
}

.todoBox{
  margin-top: 50px;
  width:100%;
}

.resultList{
  margin-top:30px;
}

.nav{
  position:absolute;
  right:0;
  top:0;
  padding:10px;
}

.nav>a{
  display:block;
  margin-right:10px;
}

